p{
    margin: 0;
    padding: 0;
}
.form-control:focus{
    box-shadow: none !important;
}
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    min-height: 250px !important;
}
.news-content{
    font-size: 12px;
    font-weight: bold;
}
.news-desc{
    font-size: 12px;
    vertical-align: center;
}
.new-img{
    max-width: 100%;
    width: 100px;
    height: 50px;
}
.news-list th,td{
    vertical-align: middle !important;
    justify-content: center;
    align-items: center;
}
.show-news-desc{
    height: 300px;
    overflow-x: scroll;
}
.show-news-img img{
    max-width: 100%;
}
.news-img{
    margin-top: 20px;
}
.news-img img{
    margin-top: 10px;
    max-width: 100%;
    width: 180px;
    height: 150px;
}
