@font-face {
    font-family: SolaimanLipi;
    src: url("../fonts/SolaimanLipi_20-04-07.ttf");
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: SolaimanLipi, sans-serif;
}

.top-bar-container {
    background: black;
    font-size: 14px;
    padding: 5px 0;
}

.top-bar-link ul li, .top-bar-link ul li a {
    color: white;
    text-decoration: none;
}

.top-bar-link ul li {
    list-style: none;
    display: inline-flex;
}

.top-bar-link ul li:after {
    content: "|";
    padding: 0 5px;
}

.top-bar-link ul li:last-of-type:after {
    display: none;
}
.top-bar-social-icon a{
    color: white;
    padding: 0 2px;
}
.logo{
    padding: 10px 0;
    max-width: 100%;
}

.mega-menu {
    background: white;
    box-shadow: 0 0 5px silver;
    padding: 10px 5px;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.mega-menu a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 3px 0;
}
.mega-menu a:hover{
    color: red;
}
#search_close{
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 0 5px;
}
.menu a:hover{
    color: red;
}
.mega-menu-bottom {
    border-top: 1px solid silver;
    padding: 15px 0;
}
.menu-container{
    border-bottom:  1px solid silver;
}
.right-menu-items{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.more-menu{
    cursor: pointer;
}
.search{
    cursor: pointer;
}

.news-container a, .news-single-item a{
    color: black;
    text-decoration: none;
    margin: 10px 0;
}
.news-container a h4, .news-single-item a h5{
    margin: 10px 0 ;
    text-align: justify;
}
.news-single-item a h5{
    font-size: 15px;
}
.section-feature-area a {
    color: black;
    text-decoration: none;
}
.section-feature-area h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid tomato;
    margin-bottom: 10px;
}
.section-feature-area h5 {
    margin-top: 5px;
    text-align: justify;
}
.section-feature-area-gallery a {
    color: black;
    text-decoration: none;
}
.section-feature-area-gallery h5{
    font-size: 15px;
}

.section-single-news {
    margin-top: 20px;
}
.section-single-news a {
    color: black;
    text-align: justify;
    text-decoration: none;
}
.section-single-news h5 {
    font-size: 15px;
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;
    z-index: 9999;
}
.slick-overly {
    position: absolute;
    z-index: 999999999;
    bottom: 0;
    background: rgba(0, 139, 138, .85);
    color: white;
    padding: 5px 10px;
}
.sidebar-button-area button {
    border: none;
    background: #3a495f;
    color: white;
    padding: 10px 25px;
    margin-top: 5px;
    border-radius: 5px;
    width: 49%;
}
.sidebar-button-area button:hover{
    background: #2c3848
}
.news-feed-nav button {
    width: 49%;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.news-feed-nav .active{
    background: #3a495f;
    color: white;
}
.news-feed-latest{
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 2px;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background-color: #3a495f;
}


.news-feed-latest a {
    color: black;
    text-decoration: none;
}
.news-feed-all-news-button button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #3a495f;
    color: white;
    padding: 5px 25px;
}



.survey-input-group-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    top: -20px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 3px solid #198754;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #198754;
    position: absolute;
    top: 5px;
    left: 5px;
    /* transform: translate(-50%, -50%) !important; */
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#test_label_2:before{
    border: 3px solid #b00021;
}
#test_label_2:after{
    background: #b00021;
}
#test_label_3:before{
    border: 3px solid #007aff;
}
#test_label_3:after{
    background:#007aff;
}

.survey-result{
    text-align: right;
}
.survey-result a {
    color: black;
    text-decoration: none;
}
.survey-area .card-header, .advertisement-area .card-header{
    background-image: url("../img/right-poll-bg.png");
    color: white;
    text-align: center;
}
.survey-area .card,  .advertisement-area .card{
    border: 1px solid  #d17c29;
}
.advertisement-area .card-body{
    background:  #f0f0ed
}
.advertisement-item {
    display: flex;
    border: 1px;
    border-color: #007aff;
    border-style: solid;
    border-radius: 5px;
    margin-top: 5px;
    align-items: center;
}
.advertisement-item:nth-child(2){
    border-color: #ef433a;
}
.advertisement-item:nth-child(3){
    border-color: #38ba7d;
}
.advertisement-item .text {
    flex: 5;
    text-align: center;
}
.advertisement-item .icon {
    flex: 1;
    background: #007aff;
    padding: 5px;
    color: white;
    text-align: center;
    position: relative;
}
.advertisement-item:nth-child(2) .icon{
    background: #ef433a;
}
.advertisement-item:nth-child(3) .icon{
    background: #38ba7d;
}
.right-arrow {
    position: absolute;
    right: -6px;
    color: #007aff;
    top: 50%;
    transform: translateY(-50%);
}
.advertisement-item:nth-child(2)  .right-arrow{
    color: #ef433a;
}
.advertisement-item:nth-child(3)  .right-arrow{
    color: #38ba7d;
}


.prayer-time-area {
    background: #f3f1ef;
}
.prayer-time-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 5px solid #f49c0c;
    border-left: 5px solid #f49c0c;
}
.prayer-time-header .logo {
    flex: 1;
}
.prayer-time-header .content {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prayer-time-header .content h4 {
    flex: 1;
}
.prayer-time-header .content i {
    flex: 2;
    font-size: 45px;
}
.prayer-time-header .content {
    flex: 2;
    display: flex;
    text-align: center;
}
.prayer-name{
    background: #6b8e23;
    color: white;
    text-align: center;
}
.prayer-time{
    background: olive;
    color: white;
    text-align: center;
}
table.prayer-table {
    width: 100%;
}
.prayer-table td {
    border: 3px solid white;
    padding: 3px;
}
.sunrise-sunset{
    background: #455960;
}
.district-news .card-body{
    background: #e6e6fa;
}

.footer-logo-container {
    background: #363d4d;
    padding: 15px 0;
}
.footer-logo-container img {
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.footer-container{
    background: black;
    color: white;
    padding: 25px 0;
}
.footer-container a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 2px;
}
.footer-container a:hover{
    color: cyan;
}
.footer-container img {
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
}
.footer-credit-container{
    background: #363d4d;
    padding: 10px 0;
}
.footer-credit-container p, .footer-credit-container a{
    color: white;
    text-decoration: none;
}


/*category page start*/

.category-page-sub-menu{
    margin-top: 2px;
}
.category-page-sub-menu a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-right: 10px;
}
.category-page-sub-menu a:hover{
    color: darkcyan;
}
.category-page-sub-menu-container {
    border-bottom: 1px solid silver;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.feature-news{
    position: relative;
}
.feature-news .content {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.5);
    padding: 10px 15px;
    color: white;
}
.category-page-news-area-headline {
    border-bottom: 1px solid red;
    margin-bottom: 15px;
}
.breadcrumb a{
    text-decoration: none;
}

.social-share a {
    color: black;
    font-size: 30px;
}
.single-page-news-content p{
    margin: 20px 0;
    text-align: justify;
}



@media  only screen and (max-width: 991px) {
    .right-menu-items{
        justify-content: space-between;
    }
}


